<div class="top-info">
    <div class="top-info-body">
        <h3>Contact Us</h3>
        There's a bunch of ways you can get in contact with us! Our Discord server is the best way, but we're also on other social media platforms.
        Please be respectful of staff members and do not spam their personal accounts on any site.
        Use official avenues to get in contact with someone or your request will be negatively impacted.
    </div>
</div>

<div class="contact-content-grid">
    <app-card *ngFor="let contact of contactList" [CardContent]="contact"></app-card>
</div>