<div class="top-info">
    <div class="top-info-body">
        <h3>Rules List</h3>
        Here's an overview of our rules.
        The full, up to date, and complete version of our rules can be viewed on the server with /rules.
        These rules generally apply to all mediums our community is in.
        Just be nice and respectful to other people basically.
    </div>
</div>

<div class="rule-content-grid">
    <app-card *ngFor="let rule of ruleList" [CardContent]="rule"></app-card>
</div>

<div class="top-info">
    <div class="top-info-body">
        <h3>Ban Appeal</h3>
        <p>
            So you want to appeal your ban eh?<br>
            Well you're off to a good start, you have enough brains to find this while reading our rules.<br>
            Now read the following very carefully.
        </p>
        <h3>
            Before submitting an appeal, please consider the following.
        </h3>
        <p>
            The appeal process is the only way to be unbanned<br>
            Circumventing your ban may bar you from ever being unbanned<br>
            You may only submit an appeal one time<br>
            Take your time contemplating what you want to write<br>
            Consider your appeal rejected until you hear otherwise<br>
            If you leave discord we will not continue considering your appeal<br>
            Breaking our discord rules may earn you a ban from this discord too<br>
            We review and re-review appeals at staff meetings<br>
            Staff meetings typically occur every 1-3 months<br>
            Pestering anyone about your application will negatively affect your chances<br>
        </p>
        <h3>
            The appeal form link is bit.ly/MagnaRisaBanAppeal####
        </h3>
        <p>
            Each # corresponds to the number of a specific rule.<br>
            First Number = The rule about English only<br>
            Second Number = The rule about griefing<br>
            Third Number = The rule about spamming<br>
            Fourth Number = The rule about hacking<br>
        </p>
    </div>
</div>