.grid-container {
  display: grid;
  grid-column-gap: 5px;
  grid-template-columns: repeat(12, 1fr );
  overflow: auto;
}

mat-toolbar {
  position: sticky;
  top: 0;
}

.vote-view {
  display: block;
  height: calc(100% - 130px);
  width: 100%;
  border: 0;
}


.button-selected {
    border: 2px solid red;
}

.site-button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.site-button {
    margin: 10px;
}

.vote-toolbar {
 background-color: #0288D1;
}