<mat-card class="content-card main-card">
    <div>
    <mat-card-title>MagnaRisa Month of Spooks</mat-card-title>
    <mat-card-subtitle>Spooky events releasing all month long!</mat-card-subtitle>
    <mat-card-content>
        <div>
            All month long we're bringing you the spooks in full force! 
            Check out this video for a sneak peak at what is in store to come this month. 
            Beware of the spooks that go bump in the night!
            Surprise events not yet showcased will pop up too! Beware!
        </div>
        <br>
        <div>Video by: ItzTacoTime</div>
    </mat-card-content>
</div>
<iframe class="youtube-frame" src="https://www.youtube.com/embed/=5mlhbaNyG4o"></iframe>
</mat-card>

<div class="home-content-grid">
<mat-card class="content-card">
    <mat-card-title>Trick-or-Treat</mat-card-title>
    <mat-card-subtitle>Build a house in the spooky neighborhood!</mat-card-subtitle>
    <img mat-card-image src="https://i.imgur.com/P9suexp.png" >
    <mat-card-content>
        Add your spooky flair while building a house in our spooky village to win fabulous prizes. Prepare your house to give out treats or tricks come All Hallow's Eve
    </mat-card-content>
</mat-card>
<mat-card class="content-card">
    <mat-card-title>Hexed Voting Rewards</mat-card-title>
    <mat-card-subtitle>I'll put a spell on you!</mat-card-subtitle>
    <img mat-card-image src="https://i.imgur.com/XCA0Ni3.png" >
    <mat-card-content>
        In addition to the lucrative voting rewards we normally have, there's now a 20% chance for extra rewards. Hexed voting rewards are so chaotic they don't just give out money, but jobs points and vote points too!
    </mat-card-content>
</mat-card>
<mat-card class="content-card">
    <mat-card-title>Community Vote Goals</mat-card-title>
    <mat-card-subtitle>Help us climb the mountain!</mat-card-subtitle>
    <img mat-card-image src="https://i.imgur.com/tlDWDgU.png" >
    <mat-card-content>
        Every 1,000 total server votes will earn the whole community awesome rewards at the end of the month. Free bath bombs, boosts, vote points and new head collections added to the vote shop!
    </mat-card-content>
</mat-card>
<mat-card class="content-card">
    <mat-card-title>Raffle of Dead Souls</mat-card-title>
    <mat-card-subtitle>The dead soon shall rise again!</mat-card-subtitle>
    <img mat-card-image src="https://i.imgur.com/m4TXvPi.png" >
    <mat-card-content>
        Do some grave robbing and win the money from banned accounts! Careful to avoid waking the dead, we don't need more zombies!
    </mat-card-content>
</mat-card>
<mat-card class="content-card">
    <mat-card-title>More Events Soon ...</mat-card-title>
    <mat-card-subtitle>New events happening all the time</mat-card-subtitle>
    <img mat-card-image src="https://i.imgur.com/HqSQORx.png" >
    <mat-card-content>
        Our event planning team is always working on the next big event!
    </mat-card-content>
</mat-card>
</div>