<div class="home-content-grid">
    <mat-card class="content-card">
        <mat-card-title>Month of Harvest</mat-card-title>
        <mat-card-subtitle>A month celebrating the harvest!</mat-card-subtitle>
        <img mat-card-image src="https://i.imgur.com/HqSQORx.png" >
        <mat-card-content>
            Bask in the beauty of the harvest season with this month of events.
        </mat-card-content>
        <mat-card-footer>
            Ends Nov 30th, 2021
        </mat-card-footer>
    </mat-card>
    <mat-card class="content-card">
        <mat-card-title>State Fair Event</mat-card-title>
        <mat-card-subtitle>Come one, come all!</mat-card-subtitle>
        <img mat-card-image src="https://i.imgur.com/BrmXGHs.png" >
        <mat-card-content>
            This fun-tastic fall fair will sure knock your socks off!
            Build a booth or attraction to earn participation tickets.
            Prizes for top entries.
        </mat-card-content>
        <mat-card-footer>
            Ends Nov 30th, 2021
        </mat-card-footer>
    </mat-card>
    <mat-card class="content-card">
        <mat-card-title>Raffle of Harvest Surplus</mat-card-title>
        <mat-card-subtitle>Participate to win 50,000z</mat-card-subtitle>
        <img mat-card-image src="https://i.imgur.com/SZqaMqw.png" >
        <mat-card-content>
            Each event this month will give out entries to this raffle!
            The more you participate the higher your chances at winning!
            Reward harvested from long inactive players.
        </mat-card-content>
        <mat-card-footer>
            Ends Nov 30th, 2021
        </mat-card-footer>
    </mat-card>
    <mat-card class="content-card">
        <mat-card-title>Community Vote Goals</mat-card-title>
        <mat-card-subtitle>Double the rewards, double the fun!</mat-card-subtitle>
        <img mat-card-image src="https://i.imgur.com/tlDWDgU.png" >
        <mat-card-content>
            Vote for the server to help us reach our community goals!
            Goals for every 500 total votes.
            Bath bombs will drop on Dec 4th.
        </mat-card-content>
        <mat-card-footer>
            Ends Nov 30th, 2021
        </mat-card-footer>
    </mat-card>
    <mat-card class="content-card">
        <mat-card-title>Thankful-grams</mat-card-title>
        <mat-card-subtitle>Show your appreciation!</mat-card-subtitle>
        <img mat-card-image src="https://i.imgur.com/Vj1iVQ6.png" >
        <mat-card-content>
            Let other players know that you care by sending out thankful-grams!
            The people sent gifts to are entered into a special raffle.
            Participants entered into the monthly raffle.
        </mat-card-content>
        <mat-card-footer>
            Ends Nov 24th, 2021
        </mat-card-footer>
    </mat-card>
    <mat-card class="content-card">
        <mat-card-title>Meme Origins Movie Knight</mat-card-title>
        <mat-card-subtitle>Meme it up all night!</mat-card-subtitle>
        <img mat-card-image src="https://i.imgur.com/m4TXvPi.png" >
        <mat-card-content>
            A month filled with the origins of memes!
            Bee Movie, Despicable Me, Emperor's New Groove, Shrek, Napoleon Dynamite, Mean Girls, Office Space, Matrix.
        </mat-card-content>
        <mat-card-footer>
            Ends Nov 24th, 2021
        </mat-card-footer>
    </mat-card>
</div>
<mat-toolbar color="accent" class="center-toolbar">
    <h2>Previous Events</h2>
</mat-toolbar>
<div class="home-content-grid">
    <mat-card class="content-card">
        <mat-card-title>Month of Spooks</mat-card-title>
        <mat-card-subtitle>Spooky events releasing all month long!</mat-card-subtitle>
        <div mat-card-image>
            <iframe  class="youtube-frame" src="https://www.youtube.com/embed/5mlhbaNyG4o"></iframe>
        </div>
        <mat-card-content>
            All month long we're bringing you the spooks in full force! 
            Check out this video for a sneak peak at what is in store to come this month. 
            Beware of the spooks that go bump in the night!
            Surprise events not yet showcased will pop up too! Beware!
        </mat-card-content>
        <mat-card-footer>
            Ends Oct 31st, 2021
        </mat-card-footer>
    </mat-card>
    <mat-card class="content-card">
        <mat-card-title>Trick-or-Treat</mat-card-title>
        <mat-card-subtitle>Build a house in the spooky neighborhood!</mat-card-subtitle>
        <img mat-card-image src="https://i.imgur.com/P9suexp.png" >
        <mat-card-content>
            Add your spooky flair while building a house in our spooky village to win fabulous prizes. Prepare your house to give out treats or tricks come All Hallow's Eve
        </mat-card-content>
        <mat-card-footer>
            Ends Oct 28th, 2021
        </mat-card-footer>
    </mat-card>
    <mat-card class="content-card">
        <mat-card-title>Hexed Voting Rewards</mat-card-title>
        <mat-card-subtitle>I'll put a spell on you!</mat-card-subtitle>
        <img mat-card-image src="https://i.imgur.com/XCA0Ni3.png" >
        <mat-card-content>
            In addition to the lucrative voting rewards we normally have, there's now a 20% chance for extra rewards. Hexed voting rewards are so chaotic they don't just give out money, but jobs points and vote points too!
        </mat-card-content>
        <mat-card-footer>
            Ends Oct 31st, 2021
        </mat-card-footer>
    </mat-card>
    <mat-card class="content-card">
        <mat-card-title>Community Vote Goals</mat-card-title>
        <mat-card-subtitle>Help us climb the mountain!</mat-card-subtitle>
        <img mat-card-image src="https://i.imgur.com/tlDWDgU.png" >
        <mat-card-content>
            Every 1,000 total server votes will earn the whole community awesome rewards at the end of the month. Free bath bombs, boosts, vote points and new head collections added to the vote shop!
        </mat-card-content>
        <mat-card-footer>
            Ends Oct 31st, 2021
        </mat-card-footer>
    </mat-card>
    <mat-card class="content-card">
        <mat-card-title>Raffle of Dead Souls</mat-card-title>
        <mat-card-subtitle>The dead soon shall rise again!</mat-card-subtitle>
        <img mat-card-image src="https://i.imgur.com/m4TXvPi.png" >
        <mat-card-content>
            Do some grave robbing and win the money from banned accounts! Careful to avoid waking the dead, we don't need more zombies!
        </mat-card-content>
        <mat-card-footer>
            Ends Oct 31st, 2021
        </mat-card-footer>
    </mat-card>
    <mat-card class="content-card">
        <mat-card-title>More Events Soon ...</mat-card-title>
        <mat-card-subtitle>New events happening all the time</mat-card-subtitle>
        <img mat-card-image src="https://i.imgur.com/HqSQORx.png" >
        <mat-card-content>
            Our event planning team is always working on the next big event!
        </mat-card-content>
    </mat-card>
</div>