<div class="top-info">
    <div class="top-info-body">
        <h3>Club List</h3>
        Wow, we have a lot of clubs, groups, and teams! Learn about them all!
        Teams typically have the most responsibility and also the most stringent application process.
        Groups still have an application process but the groups don't have too much responsibility.
        Clubs can be started by nearly any community member and joining a club only takes the click of a button.
    </div>
</div>

<div class="club-content-grid">
    <app-card *ngFor="let club of clubList" [CardContent]="club"></app-card>
</div>